$dcyColor: #282549;

$color-list: #ff0000 #3fb059 #ff7200 #ffb900 #999;
$color-name-list: red green orange yellow grey;

@each $color in $color-name-list {
    $i: index($color-name-list, $color);
    .#{$color} {
        color: nth($color-list, $i)!important;
    }
}
