$dcyColor: #282549;
body {
	font-family:Lato, Helvetica Neue, Helvetica, Roboto, Segoe UI, Arial, sans-serif;
	background: #eef0f3;
}

.van-tabbar {
	height: 55px;
	&-item {
		color: #87849d;
		&--active {
			color: #282449;
		}
		&__icon {
			margin-bottom: 2px;
			img {
				height: 20px;
			}
		}
	}
}

.van-nav-bar {
	background-color: #f2f2f2; // z-index: 999 !important;
	.van-icon {
		color: #000;
	}
}

.van-dialog__confirm,
.van-dialog__confirm:active {
	color: $dcyColor
}

.van-search .van-cell {
	background-color: #efefef !important;
	border-radius: 15px;
}

.van-cell {
	padding: 8px 15px;
}

.van-switch {
	background: #eee;
}

.van-switch--on {
	background-color: $dcyColor;
}

.van-search__action {
	width: 50px;
	text-align: center;
}

.van-tab--active {
	color: $dcyColor;
}

.van-tabs__line {
	background-color: $dcyColor;
}

.van-picker__cancel,
.van-picker__confirm {
	color: $dcyColor;
}

.page-main {
	position: fixed;
	top: 46px;
	width: 100%;
	bottom: 0;
	padding-bottom: 55px; // bottom: 55px;
	overflow: hidden;
	z-index: 10; // box-sizing: border-box;
	// height:calc(100% - 46px);
	&-full {
		padding-bottom: 0;
	}
}

.nobar {
	.page-main {
		top: 0;
	}
	.van-nav-bar {
		display: none;
	}
}

.my-list {
	.van-cell__right-icon {
		line-height: 30px;
	}
}

.op-list,
.box {
	.van-cell__value--alone {
		display: flex;
	}
}

.detail-list {
	.van-cell__title {
		color: $dcyColor;
	}
	.van-cell__value{
		color:#666;
		span{
			margin-left:22px;
		}
	}
	img{
		height: 10px;
	}
}

.van-tabbar {
	z-index: 11 !important; // position: absolute!important;
}

.van-hairline--bottom::after {
	border-color: #d6d8da;
}

.device-chat-tabbar {
	box-shadow: 1px -1px 5px #eee;
	height: 50px;
	.van-tabbar-item__text {
		font-size: 16px;
		color: #666;
	}
}

.dialog-van-cell-group {
	margin: 15px 5px;
	.van-field .van-cell__title {
		max-width: none;
		color: #444;
	}
	.van-cell__value {
		border: 1px solid #ddd;
	}
	.van-field__control {
		text-align: right;
		color: #666;
		padding-right: 5px;
	}
}

.van-picker-column {
	font-size: 14px;
	&__item {
		padding: 0 3px;
	}
}

.van-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
	border-radius: 8px;
	z-index: 999;
	&::after{
		position: fixed;
		z-index: 998;
		width: 100%;
		height:100%;
		left:0;
		top:0;
		background: rgba(0,0,0,.2);
	}
}

#my-cell .van-cell__right-icon {
    line-height: 50px;
}
